Context-API-Practice/node_modules/
Context-API-Practice/dist/

redux-basics/node_modules

redux-practice/node_modules
redux-practice/dist

advanced-redux-practice/node_modules
advanced-redux-practice/dist

component-patterns/node_modules
component-patterns/dist

hooks-practice/node_modules
hooks-practice/dist

performance-optimization/node_modules
performance-optimization/dist

router-practice/node_modules
router-practice/dist

auth-practice/frontend/node_modules
auth-practice/frontend/dist

auth-practice/backend/node_modules
auth-practice/backend/dist

react-with-typescript/node_modules
react-with-typescript/dist

tanstack-query/node_modules
tanstack-query/backend/node_modules
tanstack-query/dist

styled-components-practice/node_modules
styled-components-practice/dist

real-world-scenarios/node_modules
real-world-scenarios/dist

.vscode
.idea
.DS_Store
